.main{
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: rgb(228,240,248);
	width: 100%;

}

.top-title{
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: center;
	background-color: rgb(80,178,126);
	font-size: 25px;
	line-height: 80px;
	color: white;
}

.article-panel{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.article-panel-block{
	width: 800px;
	display: flex;
	flex-direction: column;

}

.article-panel-block-item{
	width: 100%;
	border-radius: 10px;
	margin-top: 20px;
}

.recommended-reading-block{
	width: 100%;
	margin-bottom: 20px;
	background-color: white;
	display: flex;
	padding:10px;
	box-shadow: 1px 1px 5px #ccc;
	position:relative;
	border-radius: 10px;
}

.recommended-reading-img{
	width: 35%;
	margin-left: 2%;
	height: 180px;
	margin-top: 20px;
	border-radius: 10px;
	border:1px solid rgb(78,198,242);
	overflow: hidden;
	position:relative;
	cursor: pointer;
}
.recommended-reading-img:hover{
	border:1px solid black;
}
.recommended-reading-img>div{
	padding-left: 5px;
	padding-right: 5px;
	line-height: 25px;
	height: 25px;
	font-size: 8px;
	color: white;
	background-color: rgb(227,197,104);
	position: absolute;
	top:10px;
	box-shadow: 1px 1px 5px #333;
}
.recommended-reading-img>img{
	width: 100%;
	height: 100%;
}

.recommended-reading-right{
	width: 63%;
	margin-top: 20px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}

.recommended-reading-right-title{
	width: 100%;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	cursor: pointer;
}
.recommended-reading-right-title:hover{
	color:rgba(0,0,0,0.6);
}

.recommended-reading-right-data{
	width: 100%;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	color: #333;
	display: flex;
}

.recommended-reading-right-data>div{
	flex:1;
	text-align: center;
	line-height: 25px;
	font-size: 10px;
	color: rgb(118,118,118);
	cursor: pointer;
}

.recommended-reading-right-content{
	width: 100%;
	font-size: 15px;
	color: rgb(118,118,118);
	line-height: 25px;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	display: -webkit-box;
  	-webkit-line-clamp: 4;
  	line-clamp: 4;
  	-webkit-box-orient: vertical;
  	margin-bottom: 20px;
}

/*翻页*/
.page-turning{
	width: 100%;
	display: flex;
	justify-content: center;
}

.page-turning-block{
	width: 500px;
	height: 40px;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.page-turning-block-turn{

	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	color: white;
	background-color: rgb(80,178,126);
	margin-right: 20px;
	cursor: pointer;
	border-radius: 10px;
}

.page-turning-block-turn:hover{
	background-color: rgb(80,178,146);
}

.page-num{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #ccc;
	margin-right: 20px;
	margin-top: 5px;
}

.page-num-text{
	height: 30px;
	font-size: 12px;
	color: rgb(118,118,118);
	text-align: center;
	line-height: 30px;
	margin-right: 20px;
	margin-top: 5px;
}

.navigation{
	height: 80px;
	line-height: 80px;
	margin-left: 50px;
	font-size: 18px;
}

.navigation>i{
	color: rgb(78,177,126);
	cursor: pointer;
}

.article_list_null{

	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
}